
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TextExtractor.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/GUI.cpython-38.pyc
sc_grey.png
sc.png
GUI.py
